<footer id="contato" class="footer-section">

    <div class="container">

        <div class="footer-box">

            <h2>
                Angel Acessórios
            </h2>

            <p>
                Sofisticação, delicadeza e elegância.
            </p>

            <div class="footer-social">

               <a href="https://instagram.com/angel.acessoriosofisticado"
                             target="_blank">
                    <i class="bi bi-instagram"></i>
                </a>

                <a href="https://wa.me/5531999999999"
                   target="_blank"
                   class="btn btn-light-custom">
                    <i class="bi bi-whatsapp"></i>
                </a>

            </div>

        </div>

    </div>

</footer>